## CMN214 Lab 2

- **Name**: Chen Luo


- **Date**: Jan. 29, 2020

### 1. Read `Lab2data.csv` into a data frame in R

In [1]:
# the csv file and R script are under the same directory, so I import data with a relative path
# strings in this csv file are not categorical variables, so I set the parameter "stringsAsFactors" as FALSE
roster <- read.table(file="./Lab2data.csv", 
                     header=TRUE, 
                     stringsAsFactors=FALSE, 
                     nrows=50, 
                     encoding="utf-8", 
                     sep=",")
# check data type
class(roster)

[1] "data.frame"

In [2]:
# take a peek
head(roster)

  SignupDate Name     Age Income EduYears PrefMedia
1 1/16/2008  Laurence 47  3      11       Newspaper
2 1/16/2008  Chong    68  1      13       NetworkTV
3 2/11/2008  Joesph   60  5      19       Online
4 2/12/2008  Ethelyn  59  7       7       Radio
5 2/20/2008  Lashanda 68  4      19       CableTV
6 2/21/2008  Mai      46  7      10       CableTV

In [3]:
# rows and columns of this data frame
dim(roster)

[1] 50  6

In [4]:
# check data type of each column
str(roster)

'data.frame':	50 obs. of  6 variables:
 $ SignupDate: chr  "1/16/2008" "1/16/2008" "2/11/2008" "2/12/2008" ...
 $ Name      : chr  "Laurence" "Chong" "Joesph" "Ethelyn" ...
 $ Age       : int  47 68 60 59 68 46 70 24 49 27 ...
 $ Income    : int  3 1 5 7 4 7 5 6 3 7 ...
 $ EduYears  : int  11 13 19 7 19 10 19 15 11 11 ...
 $ PrefMedia : chr  "Newspaper" "NetworkTV" "Online" "Radio" ...

### 2. Compute the mean and std of the `Age` and `Income` columns

In [6]:
print(paste("Mean of age is", mean(roster$Age)))
# adopt round to keep two decimal places
print(paste("Standard deviation of age is", format(round(sd(roster$Age), digits=2), nsmall=2)))

[1] "Mean of age is 48.76"
[1] "Standard deviation of age is 17.02"

In [7]:
print(paste("Mean of income is", mean(roster$Income)))
print(paste("Standard deviation of income is", format(round(sd(roster$Income), digits=2), nsmall=2)))

[1] "Mean of income is 3.84"
[1] "Standard deviation of income is 1.99"

### 3. Compute the corr between `Age` and `EduYears`

In [8]:
# adopt Pearson Correlation for these two columns containing numerical values
format(round(cor(x=roster[, "Age"], y=roster[, "EduYears"], method="pearson"), digits=2), nsmall=2)

[1] "0.12"

### 4. Find the names of all people who have an income level of 7 & computer their average age

In [9]:
# Names of all people have an income level of 7
# the parameter 2 is short for the index of Name column
roster[roster$Income==7, 2]

[1] "Ethelyn"   "Mai"       "Karl"      "Ginette"   "Valentina" "Ross"
[7] "Tiffiny"

In [10]:
# their average age
mean(roster[roster$Income==7, 3])

[1] 37

### 5. Add a new numeric column to the data frame containing only the number 1 for all cases

In [11]:
# the new numeric column is named "Added"
roster["Added"] <- rep(1, 50)
# take a peek at the new data frame
head(roster)

  SignupDate Name     Age Income EduYears PrefMedia Added
1 1/16/2008  Laurence 47  3      11       Newspaper 1
2 1/16/2008  Chong    68  1      13       NetworkTV 1
3 2/11/2008  Joesph   60  5      19       Online    1
4 2/12/2008  Ethelyn  59  7       7       Radio     1
5 2/20/2008  Lashanda 68  4      19       CableTV   1
6 2/21/2008  Mai      46  7      10       CableTV   1

### 6. Add a new column to the data frame containing case IDs

In [12]:
# the new column is named "ID"
roster["ID"] <- 1:50
# take a peek at the new data frame
head(roster)

  SignupDate Name     Age Income EduYears PrefMedia Added ID
1 1/16/2008  Laurence 47  3      11       Newspaper 1     1
2 1/16/2008  Chong    68  1      13       NetworkTV 1     2
3 2/11/2008  Joesph   60  5      19       Online    1     3
4 2/12/2008  Ethelyn  59  7       7       Radio     1     4
5 2/20/2008  Lashanda 68  4      19       CableTV   1     5
6 2/21/2008  Mai      46  7      10       CableTV   1     6

### 7. Add a new column containing logical values based on `Age`

In [13]:
# the new column is named "AgeLimit"
roster["AgeLimit"] <- roster$Age < 40
# take a peek at the new data frame
head(roster)

  SignupDate Name     Age Income EduYears PrefMedia Added ID AgeLimit
1 1/16/2008  Laurence 47  3      11       Newspaper 1     1  FALSE
2 1/16/2008  Chong    68  1      13       NetworkTV 1     2  FALSE
3 2/11/2008  Joesph   60  5      19       Online    1     3  FALSE
4 2/12/2008  Ethelyn  59  7       7       Radio     1     4  FALSE
5 2/20/2008  Lashanda 68  4      19       CableTV   1     5  FALSE
6 2/21/2008  Mai      46  7      10       CableTV   1     6  FALSE

### 8. Add a new column containing logical values based on the `SignupDate`

In [14]:
# use as.Date for the conversion
# in the format parameter, %m denotes month, %d denotes day, %Y denotes year (in four digits form)
roster["SignupDate"] <- as.Date(roster$SignupDate, format="%m/%d/%Y")
# perform the logical judgment (before May 1st 2008 as TRUE, otherwise FALSE)
# the new column is named "DateLimit"
roster["DateLimit"] <- roster$SignupDate < "2008-05-01"
# take a peek
head(roster)

  SignupDate Name     Age Income EduYears PrefMedia Added ID AgeLimit DateLimit
1 2008-01-16 Laurence 47  3      11       Newspaper 1     1  FALSE    TRUE
2 2008-01-16 Chong    68  1      13       NetworkTV 1     2  FALSE    TRUE
3 2008-02-11 Joesph   60  5      19       Online    1     3  FALSE    TRUE
4 2008-02-12 Ethelyn  59  7       7       Radio     1     4  FALSE    TRUE
5 2008-02-20 Lashanda 68  4      19       CableTV   1     5  FALSE    TRUE
6 2008-02-21 Mai      46  7      10       CableTV   1     6  FALSE    TRUE

In [15]:
# display the complete data
roster

   SignupDate Name       Age Income EduYears PrefMedia Added ID AgeLimit
1  2008-01-16 Laurence   47  3      11       Newspaper 1      1 FALSE
2  2008-01-16 Chong      68  1      13       NetworkTV 1      2 FALSE
3  2008-02-11 Joesph     60  5      19       Online    1      3 FALSE
4  2008-02-12 Ethelyn    59  7       7       Radio     1      4 FALSE
5  2008-02-20 Lashanda   68  4      19       CableTV   1      5 FALSE
6  2008-02-21 Mai        46  7      10       CableTV   1      6 FALSE
7  2008-02-22 Corazon    70  5      19       CableTV   1      7 FALSE
8  2008-02-26 Twana      24  6      15       Newspaper 1      8  TRUE
9  2008-02-28 Rufus      49  3      11       Online    1      9 FALSE
10 2008-03-10 Karl       27  7      11       Newspaper 1     10  TRUE
11 2008-03-18 Vivienne   20  1       9       Newspaper 1     11  TRUE
12 2008-03-26 Lora       48  3      17       Online    1     12 FALSE
13 2008-03-28 Esmeralda  26  1      13       NetworkTV 1     13  TRUE
14 2008-04-16 Earlie     66  4      17       Online    1     14 FALSE
15 2008-04-21 Chang      72  4       7       CableTV   1     15 FALSE
16 2008-04-23 Kaycee     72  4       9       Radio     1     16 FALSE
17 2008-04-25 Ginette    34  7      13       NetworkTV 1     17  TRUE
18 2008-05-09 Del        69  5      12       Online    1     18 FALSE
19 2008-05-12 Gussie     38  2      11       CableTV   1     19  TRUE
20 2008-05-14 Faustino   51  3      10       Newspaper 1     20 FALSE
21 2008-05-26 Kisha      61  1      18       Online    1     21 FALSE
22 2008-05-30 Shakita    38  5       7       CableTV   1     22  TRUE
23 2008-06-05 Angel      43  6       7       Newspaper 1     23 FALSE
24 2008-06-10 Zenia      34  5      14       Radio     1     24  TRUE
25 2008-06-18 Alvin      32  2      14       Online    1     25  TRUE
26 2008-07-02 Zora       51  3      19       Newspaper 1     26 FALSE
27 2008-07-03 Wen        70  5      12       Online    1     27 FALSE
28 2008-07-09 Josh       37  5       7       Newspaper 1     28  TRUE
29 2008-07-14 Gus        74  1      16       Online    1     29 FALSE
30 2008-07-17 Felton     49  3       8       Radio     1     30 FALSE
31 2008-07-24 Particia   77  3       8       NetworkTV 1     31 FALSE
32 2008-07-31 Caroline   69  3       7       Radio     1     32 FALSE
33 2008-08-07 Steve      75  2       8       NetworkTV 1     33 FALSE
34 2008-08-12 Pat        26  3      11       Newspaper 1     34  TRUE
35 2008-08-21 Humberto   35  2       8       Newspaper 1     35  TRUE
36 2008-08-22 Shauna     40  3      17       Online    1     36 FALSE
37 2008-09-04 Valentina  34  7      11       CableTV   1     37  TRUE
38 2008-09-24 Genaro     39  3      14       Newspaper 1     38  TRUE
39 2008-09-26 Mila       37  6       9       Online    1     39  TRUE
40 2008-10-22 Annelle    74  6       9       Newspaper 1     40 FALSE
41 2008-10-29 Isaura     62  1      15       Online    1     41 FALSE
42 2008-11-03 Marylouise 30  6       9       CableTV   1     42  TRUE
43 2008-11-04 Ross       23  7       9       Newspaper 1     43  TRUE
44 2008-11-04 Pat        59  5      12       Online    1     44 FALSE
45 2008-11-11 Erick      49  1       8       Newspaper 1     45 FALSE
46 2008-11-14 Parker     38  2      12       Newspaper 1     46  TRUE
47 2008-11-27 Brynn      59  1      18       Radio     1     47 FALSE
48 2008-12-04 Dusti      51  3      18       Newspaper 1     48 FALSE
49 2008-12-23 Tiffiny    36  7      16       CableTV   1     49  TRUE
50 2008-12-26 Theresa    22  3      11       Radio     1     50  TRUE
   DateLimit
1   TRUE
2   TRUE
3   TRUE
4   TRUE
5   TRUE
6   TRUE
7   TRUE
8   TRUE
9   TRUE
10  TRUE
11  TRUE
12  TRUE
13  TRUE
14  TRUE
15  TRUE
16  TRUE
17  TRUE
18 FALSE
19 FALSE
20 FALSE
21 FALSE
22 FALSE
23 FALSE
24 FALSE
25 FALSE
26 FALSE
27 FALSE
28 FALSE
29 FALSE
30 FALSE
31 FALSE
32 FALSE
33 FALSE
34 FALSE
35 FALSE
36 FALSE
37 FALSE
38 FALSE
39 FALSE
40 FALSE
41 FALSE
42 FALSE
43 FALSE
44 FALSE
45 FALSE
46 FALSE
47 FALSE
48 FALSE
49 FALSE
50 FALSE

### 9. Create new data frame only with the `Name` and `Income` columns

In [16]:
# the new data frame is named "rosterSubset"
# Name column is the second column, Income is the fourth
rosterSubset <- roster[, c(2, 4)]
# take a peek
head(rosterSubset)

  Name     Income
1 Laurence 3
2 Chong    1
3 Joesph   5
4 Ethelyn  7
5 Lashanda 4
6 Mai      7

In [17]:
# check the dimensions
dim(rosterSubset)

[1] 50  2

### 10. Save the new generated data frame

In [18]:
# the new data file is named "Lab2data_subset.csv"
write.csv(rosterSubset, 
          file="./Lab2data_subset.csv", 
          quote=FALSE, 
          row.names=FALSE)